<% layout('layout/boilerplate.ejs') %>
<div id="map" style="height:600px;width:100%;"></div>
<script>
      const user= {features: <%- JSON.stringify(user) %>}
</script>
<script src="/javascripts/clusterMap.js"></script>